.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusBox {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
}
